:root {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.description {
  white-space: pre-wrap;
}

.saveBtn {
  background-color: #06aed5;
  color: white;
  border-radius: 0px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

textarea {
  resize: none;
  border-radius: 0px;
}

textarea {
  border-radius: 0px;
}

.past {
  background-color: rgb(149, 79, 79);
}

.future {
  background-color: rgb(67, 134, 67);
}

.present {
  background-color: rgb(160, 160, 160);
}

h2 {
  font-size: 20px;
}